/**
 *description:焦点图
 *author:fanwei
 *date:2015/2/7
 */
[widget-role=focus-wrap] {
  position: relative;
  overflow: hidden;
  outline: 0;
  width: 100%;
}
[widget-role=focus-wrap] [widget-role=focus-data-wrap] {
  white-space: nowrap;
  display: none;
  font-size: 0;
}
[widget-role=focus-wrap] [widget-role=focus-data-wrap] div {
  width: 100%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
[widget-role=focus-wrap] [widget-role=focus-data-wrap] div img {
  width: 100%;
}
