<script>
	window.R = window.R || {};
	R.uri = R.uri || {};
	R.nowWayName = "{{nowWayName}}";
	R.nowWayId = "{{nowWayId}}";
	R.uri.reqPrefix = "/main/" + "{{nowWayName}}" + "/";
	R.uri.uploadPrefix = "/upload/" + "{{nowWayName}}" + "/";
	R.uri.cssPath = "{{cssPath}}";
	R.uri.imgPath = "{{imgPath}}";
	R.uri.nowWayName = "{{nowWayName}}";
	R.uri.nowWayId = "{{nowWayId}}";

	R.username = "{{username}}";
	R.nickname = "{{nickname}}";
	R.cellphone = "{{cellphone}}";
	R.pkUser = "{{pkUser}}";
	R.sex = "{{sex}}";
	R.headurl = "{{headurl}}";
	R.headshorturl = "{{headshorturl}}";
	R.barBg = "{{barBg}}";

	R.route = {{=route}}
</script>