<!-- 右侧数据 -->
<table width="100%" class="ba-mb-20">
	<tr>
		<td>
			名称
		</td>
		<td>
			<input type="text" class="form-control" value="{{data.additionname}}" {{if data.type == 'look'}}disabled="disabled"{{/if}} org-sub-name="additionname" re="^.{1,10}$" msg="请填写10位数以内的名称" tip="名称不能为空">
		</td>
	</tr>
</table>
<table width="100%" class="ba-mb-10 table bordered">
	<thead>
		<tr>
			<td width="20%">序号</td>
			<td width="20%">提成名称</td>
			<td width="20%">提成方式</td>
			<td width="20%">提成值</td>
			<td width="20%">操作</td>
		</tr>
	</thead>
	<tbody data-list>
		{{include './addRightlist' data}}
	</tbody>
</table>
{{if data.type != 'look'}}
<div class="ba-tc ba-mb-20">
	<span class="fa fa-plus" data-list-plus></span>
</div>
<div class="ba-tc">
	<a href="javascript:;" class="btn btn-primary" confirm-save>保存</a>
</div>
{{/if}}