<!-- 右侧消息 -->
<div class="right-bar">
	<div class="msg-bar">
		<div class="search-user-wrap ba-clearfix">
			<input class="form-control user-name" type="text" quick-search-user>
			<a class="btn btn-primary search-user" href="javascript:;" quick-search-btn>go</a>
			<i class="cancel-search" cancel-search>x</i>
		</div>
	</div>
	<div class="msg-content" msg-content>
		<div class="select-action" select-action>
			<a class="btn btn-success ba-mr-3" href="javascript:;" quick-send-btn>发消息</a>
			<a class="btn btn-danger" href="javascript:;" quick-order-btn>下单</a>
		</div>
		<ul search-result></ul>
	</div>
</div>