/**
 *description:二维码管理
 *author:wangweicheng
 *date:2015/4/16
 */
/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
/**
 *description:css3-pc
 *author:fanwei
 *date:2014/10/31
 */
/**
 *description:二维码管理
 *author:wangweicheng
 *date:2015/4/16
 */
.download-box {
  width: 400px;
  height: 250px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  border-radius: 5px;
}
.download-box table {
  width: 100%;
}
.download-box table th {
  padding-bottom: 15px;
}
.download-box table td {
  padding: 5px;
  text-align: center;
}
.field input {
  width: 200px;
}
.edit-box {
  width: 500px;
  height: 370px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  border-radius: 5px;
}
.edit-box span.item {
  width: 90px;
  line-height: 30px;
  text-align: right;
  float: left;
}
.edit-box .related-select {
  float: left;
  overflow: hidden;
}
.edit-box input {
  float: left;
}
.edit-box input.time {
  width: 250px;
}
.edit-box input.name {
  width: 250px;
}
.edit-box input.addr {
  width: 390px;
}
.edit-box input.num {
  width: 250px;
}
.edit-box span.line {
  float: left;
  line-height: 26px;
  margin: 0 10px;
}
.edit-box select {
  width: 100px;
  float: left;
  margin-right: 20px;
}
.shop {
  width: 200px;
}
.account-edit-box {
  width: 580px;
}
.account-edit-box select.shop {
  width: 110px;
}
