/**
 *description:网站全局less变量-配置
 *author:wangwc
 *date:2015/4/2
 */

/* color */
@pink: #d84466;
@base-border-color: #e1e1e1;
@base-title-color: #424242;
@base-text-color: #909090;

/* site-config */
@base-size: 14px;
@base-font-family: 'Microsoft Yahei';
@base-bg: #ebf0f3;
@base-color: #444;

@base-img: "http://static.chorhair.com/assets/";           //静态资源存放目录
@base-font: "http://static.chorhair.com/assets/fonts/";	 //font-icon字体存放目录




