/**
 *description:新增商品
 *author:wangweicheng
 *date:2015/3/11
 */
/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
/**
 *description:css3-pc
 *author:fanwei
 *date:2014/10/31
 */
.main-content .item-wrap {
  width: 400px;
  margin: 0 auto;
}
.main-content .item {
  width: 90px;
  float: left;
  line-height: 30px;
}
.main-content .form-control {
  float: left;
  width: 300px;
}
.main-content .count {
  width: 150px;
  margin-right: 20px;
}
.main-content .no-count-wrap {
  position: relative;
  top: 5px;
  cursor: pointer;
}
.main-content .no-count {
  margin-right: 5px;
}
.main-content .combocount {
  display: none;
}
.selected-goods,
.selected-shop {
  float: left;
  width: 310px;
}
.selected-goods span,
.selected-shop span {
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.selected-goods .item-wrap,
.selected-shop .item-wrap {
  overflow: hidden;
  display: none;
}
.goods-box {
  width: 400px;
  height: 500px;
  padding: 20px;
}
.goods-box .item {
  float: left;
  line-height: 30px;
}
.goods-box .goodsname {
  width: 300px;
  float: left;
}
.goods-box .selected-wrap {
  margin-top: 30px;
}
.goods-box .goods-list-wrap {
  position: absolute;
  display: none;
  top: 29px;
  left: 60px;
  z-index: 99;
  width: 278px;
  max-height: 200px;
  padding: 5px 10px;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.goods-box .goods-list-wrap li {
  line-height: 22px;
  text-align: left;
}
.goods-box .selected-wrap .selected-goods-list {
  margin-top: 10px;
  background: #f7f7f7;
  padding: 10px;
  padding-bottom: 0;
  height: 350px;
  overflow: auto;
}
.goods-box .selected-wrap .selected-goods-list li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
}
.goods-box .selected-wrap .goods-name {
  float: left;
  margin-right: 10px;
  line-height: 30px;
}
.shop-box {
  width: 600px;
  height: 310px;
  padding: 20px;
}
.shop-box label {
  cursor: pointer;
}
.shop-box .shop-list {
  background: #f7f7f7;
  padding: 10px;
  height: 150px;
  overflow: auto;
}
.shop-box .shop-list li {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.shop-box .shop-list li span {
  cursor: pointer;
}
.shop-box .all-select span {
  cursor: pointer;
}
