/**
 *description:新增商品
 *author:wangweicheng
 *date:2015/3/11
 */
/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
/**
 *description:css3-pc
 *author:fanwei
 *date:2014/10/31
 */
.main-content .item-wrap {
  width: 400px;
  margin: 0 auto;
}
.main-content .item {
  width: 90px;
  float: left;
  line-height: 30px;
}
.main-content .form-control {
  float: left;
  width: 300px;
}
