/**
 *description:套餐修改
 *author:fanwei
 *date:2015/3/25
 */
/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
/**
 *description:css3-pc
 *author:fanwei
 *date:2014/10/31
 */
.package-edit-wrap {
  width: 700px;
  margin: 0 auto;
}
.package-edit-wrap select {
  height: 31px;
}
.package-edit-wrap td {
  text-align: left;
}
.package-edit-wrap .commission label,
.package-edit-wrap .commission .form-control {
  float: left;
}
.package-edit-wrap .commission label {
  margin: 7px 7px 0 0;
}
.package-edit-wrap .commission .form-control {
  width: 100px;
  margin-right: 10px;
}
