@import "../../config/config.less";

body.promotion{
	background: #414141;
}

.promotion-wrap{
	width: 100%;
	height: 330px;
	background: #fff;
	
	p{
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 18px;
	}

	img{
		display: block;
		width: 200px;
		margin: 0 auto;
	}

	.loading{
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		color: #999;
	}
}

.promotion-btn{
	width: 42%;
	height: 50px;
	margin: 40px auto 0 auto;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: @pink;
	border-radius: 22px;

	&:active{
		background: #555;
	}
}