<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{cssPath}}core/rockstar.css">
<link rel="stylesheet" href="{{cssPath}}main/customer/user/package.css">
</head>

<body pageLevel="{{pageLevel}}">

	{{include '../include/header'}}
	
	<!-- loading -->
	<section class="page-loading" page-loading><img src="{{imgPath}}lib/loading/btn_loading_r.gif" alt=""></section>

	<!-- loading-wrap -->
	<section class="loading-wrap" loading-wrap>
		<section class="package-list-wrap">
			<ul></ul>
		</section>
	</section>
	
{{include '../include/siteConfig'}}
<script src="{{seaPath}}seajs/sea.js"></script>	
<script src="{{seaPath}}seajs/config.js"></script>
<script>
	seajs.use('main/customer/user/package');
</script>
</body>
</html>