<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
{{include '../include/meta'}}
<link rel="stylesheet" href="{{cssPath}}core/rockstar.css">
<link rel="stylesheet" href="{{cssPath}}main/service/list.css">
</head>

<body>
	{{include '../include/header'}}
	<div class="main-content">
		{{include '../include/nav'}}
		{{include '../include/msg'}}
		<div class="center-bar">
			<div class="bar-title ba-clearfix">
				<span class="ba-intro">{{title}}</span>
				<a href="{{views['service/addEdit'].url}}" class="btn btn-primary bar-right-btn">添加</a>
			</div>
			<div class="main-content">
				<div class="select-area ba-clearfix">
					<div class="select-shop">选择店铺：</div>
					<div class="related-select" area-wrap>
						<select class="form-control" province name="province" pkArea="" areaname="">
							<option value="">请选择省</option>
						</select>
					</div>
					<div class="related-select" area-wrap>
						<select class="form-control" city name="city" pkArea="" areaname="">
							<option value="">请选择市</option>
						</select>
					</div>
					<div class="related-select" area-wrap>
						<select class="form-control" area name="county" pkArea="" areaname="">
							<option value="">请选择区</option>
						</select>
					</div>
					<div class="shop-select">
						<select class="form-control" shop>
							<option value="">请选择店铺</option>
						</select>
					</div>
				</div>
				<div class="ba-clearfix ba-mt-20">
					<label class="ba-fl ba-mt-2 control-label">发型师查询：</label>
					<input type="text" class="fairer form-control ba-fl ba-mr-10" fairer-name>
					<a href="javascript:;" class="btn btn-primary" search-fairer-btn>查询</a>
				</div>
				<table class="table bordered striped ba-mt-20" width="100%" list-wrap>
					<thead>
						<tr>
							<td width="15%">姓名</td>
							<td width="15%">昵称</td>
							<td width="20%">电话号码</td>
							<td width="50%">管理</td>
						</tr>
					</thead>
					<tbody data-ele="data-wrap">
						<!-- tpl/shop/service/fairList.html -->
					</tbody>
				</table>
			</div>
			<!-- fenye -->
            {{include '../include/fenye'}}	
		</div>	
	</div>

{{include '../include/siteConfig'}}
<script src="{{seaPath}}seajs/sea.js"></script>	
<script src="{{seaPath}}seajs/config.js"></script>
<script>
	seajs.use('main/service/list');
</script>
</body>
</html>