<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
{{include '../include/meta'}}
<link rel="stylesheet" href="{{cssPath}}core/rockstar.css">
<link rel="stylesheet" href="{{cssPath}}main/customService/index.css">
</head>

<body>
	{{include '../include/header'}}
	<div class="main-content">
		{{include '../include/nav'}}
		{{include '../include/msg'}}
		<div class="center-bar">
			<div class="bar-title ba-clearfix">
				<span class="ba-intro">{{title}}</span>
			</div>
			<div class="main-content">
				<div class="custom-service-wrap">
					<div class="msg-group-wrap">
						<div class="ba-tc">
							<a href="javascript:;" class="btn btn-primary" create-group-btn>新建沟通组</a>
						</div>
						<ul class="msg-group-list" msg-group-list></ul>
					</div>
					<div class="msg-wrap">
						<div class="msg-to ba-mb-10">
							<p>To：<strong msg-to></strong></p>
						</div>
						<div class="msg-history ba-mb-10" history-view>
							<div class="ba-none ba-clearfix ba-mt-10 ba-mb-20" search-history>
								<label class="ba-fl control-label">开始时间：</label>
								<input type="text" class="w-150 form-control ba-fl ba-mr-10" readonly="readonly" calendar="" begintime>
								<label class="ba-fl control-label">结束时间：</label>
								<input type="text" class="w-150 form-control ba-fl ba-mr-10" calendar="" readonly="readonly" endtime>
								<a class="btn btn-primary ba-fl" href="javascript:;" history-btn>查询历史消息</a>
							</div>
							<ul history-wrap>
								<!-- customerService/msg.html -->
							</ul>
						</div>
						<div class="msg-area ba-mb-10">
							<textarea  class="form-control" send-area></textarea>
						</div>
						<div class="ba-clearfix">
							<div class="ba-fr">
								<a href="javascript:;" class="btn btn-success" send-btn>发送短信</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
{{include '../include/siteConfig'}}
<script src="{{seaPath}}seajs/sea.js"></script>	
<script src="{{seaPath}}seajs/config.js"></script>
<script>
	seajs.use('main/customService/index');
</script>
</body>
</html>