<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{cssPath}}core/rockstar.css">
<link rel="stylesheet" href="{{cssPath}}main/hairer/message/list.css">
</head>

<body pageLevel="{{pageLevel}}">

	{{include '../include/header'}}
	
	<!-- loading -->
	<section class="page-loading" page-loading><img src="{{imgPath}}lib/loading/btn_loading_r.gif" alt=""></section>
	
	<!-- loading-wrap -->
	<section class="loading-wrap" loading-wrap>
		<section class="message-type ba-tc ba-mt-15 ba-mb-12">
			<div class="btn-group ba-clearfix">
				<button class="btn btn-purple" msg-type="messagestatus" msg-value="001">未读消息</button>
				<button class="btn btn-purple" msg-type="begintime" msg-value="{{agoTime}}">7天内消息</button>
				<button class="btn btn-purple" msg-type="endtime" msg-value="{{agoTime}}">7天前消息</button>
			</div>
		</section>

		<section class="msg-list">
			<ul msg-list-wrap>
				<!-- message/list -->
			</ul>
		</section>
		
	</section>	
	<!-- index-footer -->
	{{include '../include/indexFooter'}}

	{{include '../include/siteConfig'}}

<script src="{{seaPath}}seajs/sea.js"></script>	
<script src="{{seaPath}}seajs/config.js"></script>
<script>
	seajs.use('main/hairer/message/list');
</script>
</body>
</html>